{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/print.css' %}" type="text/css" media="print" />
<style type="text/css">

div.header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.letterhead {
    margin: 0 auto;
    text-align: center;
}


#front_matter {
    font-weight: bold;
    border-bottom: solid 1px;
}

p {
    max-width: 100% !important;
}


</style>
{% endblock %}
{% block content %}
<div class="letterhead">
<h2><p>COUNCIL OF THE DISTRICT OF COLUMBIA<br>Office of the Budget Director</h2>
</div>
<div class="header"><img src="https://legalsuff.herokuapp.com/static/img/dcseal.jpg" style="max-height:0.75in;"></div>
{% if perms.app.can_publish %}
<style>
@media screen {
    div#sig {
        display: none;
    }
}

</style>
<div id="sig">
<img src="{{stamp_url}}" style="position:absolute; top:2in; left:3.5in; width:1.5in">
</div>
{% endif %}
<p><strong>Jennifer Budoff</strong><br>Budget Director</p>
<p style="text-decoration: underline;"><strong>FISCAL IMPACT STATEMENT</strong></span></p>
<div id="front_matter">
<p>TO: The Honorable Phil Mendelson, Chairman, Council of the District of Columbia</p>
<p>FROM: Jennifer Budoff, Budget Director</p>
<p>DATE: {{document.publish_date|date:"F d, Y"}}</p>
<p>SHORT TITLE: The {{document.get_title}}.</p>
<p>TYPE: {{document.get_fis_type_display}}</p>
<p>REQUESTING OFFICE: {{document.get_office_display}}</p>
</div>

<h3>Conclusion</h3>
{{document.content_conclusion|safe}}
<h3>Background</h3>
{{document.content_background|safe}}
<h3>Analysis of Impact on Revenue</h3>
{{document.content_revenue|safe}}
<h3>Analysis of Impact on Spending</h3>
{{document.content_spending|safe}}

</div>
{% endblock %}

{% block extra_js %}

{% endblock %}